.bigImage {
    width: 100%;
}

.modal-dialog {
    width: 90%;
}

.modal_img {
    display: inline;
    width: 45%;
}

video {
    background-image: url("game_console.png");
    background-size: cover;
    background-position: center;
    padding: 25px;
}